#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/buildcore.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk

clean::
	rm -f sqlite3-dbf

common-install-arch::
	install -d debian/sqlite3-dbf/usr/bin/
	gcc -O2 -o sqlite3-dbf sqlite3-dbf.c -I.
	install -m 755 sqlite3-dbf debian/sqlite3-dbf/usr/bin/
